body {
  overflow-x: hidden;
}

.sidebar {
  height: 100vh;
  background-color: #343a40;
  padding-top: 20px;
  position: fixed;
  width: 240px;
  left: 0;
  z-index: 1000;
  display: flex;
}

.sidebar a {
  color: white;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #495057;
}

#hamburgerBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  font-size: 1.8rem;
  border: none;
  background: none;
  color: #000;
}

@media (max-width: 767.98px) {
  .contenido {
    margin-left: 0 !important;
  }
  .sidebar {
    display: none !important;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    z-index: 1050;
    transition: left 0.3s ease;
  }

  h2 {
    padding-left: 50px; /* deja espacio para el botón */
  }

  .sidebar.show {
    display: flex !important;
    flex-direction: column;
    background-color: #343a40;
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 999;
  }

  .table {
    display: none;
  }

  .tarjetas-dashboard {
    display: block !important;
  }
  .card .progress {
    height: 15px;
    border-radius: 10px;
}

.card .progress-bar {
    font-size: 0.75rem;
    line-height: 15px;
}

.card .text-muted {
    margin-top: 5px;
}
}
